flask>=3.0.0

# LangGraph stack
langgraph
langchain
langchain-core
langchain-community
langchain-groq

# Checkpoint persistence
langgraph-checkpoint-sqlite

#Search
tavily-python

python-dotenv
aiosqlite
httpx
